@font-face {
    font-family: 'WinkyRough';
    src: url('/Resources/Fonts/Winky_Rough/WinkyRough-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    font-family: 'WinkyRough', sans-serif;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    /*background-color: rgba(0, 0, 0, 0.7);*/
    color: white;
    /*height: 100vh;*/
    /*pruebas*/
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 10px solid transparent;
    border-image: url("/Resources/img/madera.jpg") 30 round;
    border-radius: 10px;
    background-image: url("/Resources/img/pizarra-tiza.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

header {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    align-items: center;
    padding-left: 7rem;
    height: 100px;
    display: flex;
    font-size: 45px;
    font-weight: bold;
}

body {
    font-family: 'WinkyRough', sans-serif;
    background-image: url("/Resources/Img/estrellas.png");
    background-color: darkslateblue;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

footer {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}

.btn-nuevaPartida {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: midnightblue;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
}


/*Pantalla emergente de Nueva Partida*/
.display-newrun {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    justify-content: center;
    align-items: center;
}


.form-newrun {
    background-image: url("/Resources/Img/papel-arrugado.png");
    padding: 2rem;
    color: black;
    border-radius: 10px;
    width: 350px;
    height: auto;
}

.head-newrun {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-newrun {
    padding-top: 0.5rem;
    font-weight: bold;
    font-size: 1.3rem;
}

    .form-newrun i {
        font-size: 32px;
        padding-right: 10px;
    }

        .form-newrun i:hover {
            border-radius: 10px;
            background-image: url("/Resources/Img/rayas-lapiz3.jpg");
            background-size: cover;
            padding-left: 10px;
            padding-right: 10px;
        }

.input-newrun {
    padding-top: 2rem;
    font-weight: bold;
}

    .input-newrun input {
        font-family: 'WinkyRough', sans-serif;
        font-size: 16px;
        border-right-style: none;
        border-left-style: none;
        border-top-style: none;
        border-bottom-style: solid;
        border-bottom-color: blue;
        background-color: transparent;
        padding: 10px;
        padding-left: 20px;
        height: 40px;
        width: 100%;
        margin-bottom: 2rem;
        outline: none;
    }

.input-div {
    display: flex;
    flex-direction: column;
}

.btns-newrun {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn-start-run {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-color: transparent;
    border-radius: 10px;
    width: 100%;
    padding: 5px;
    text-decoration: none;
    color: blue;
    font-weight: bolder;
    margin-bottom: 1rem;
    border-style: none;
}

    .btn-start-run:hover {
        color: black;
        font-size: 18px;
        background-image: url("/Resources/Img/rayas-lapiz3.jpg");
    }

.btnCloseNewRun {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url("/Resources/Img/rayas-lapiz3.jpg");*/
    background-size: cover;
    border-radius: 10px;
    width: 100%;
    padding: 5px;
    text-decoration: none;
    color: red;
    font-weight: bold;
    margin-bottom: 1rem;
}

    .btnCloseNewRun:hover {
        color: black;
        font-size: 18px;
        background-image: url("/Resources/Img/rayas-lapiz3.jpg");
    }
